* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    
}
nav {
    display: flex;
    justify-content: space-between;
    background: rgb(2, 2, 55);
    color: aliceblue;
    flex-shrink: 1;
    padding: 0mm 40mm;
    
    
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: aliceblue;
}


.container {
display: flex;
margin: 0px;
box-sizing: border-box;
flex: 1;
flex-direction: column;
}

.container > * {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-shrink: 1;
    padding:10mm 40mm;     
}


.box-1 {
    background: rgb(2, 2, 55);
         
}

.box-2 , .box-4 {
    background: white ;
}

.box-2 {
    flex-direction: column;
  
}


.box-1-text {
    display: flex;
    color: aliceblue;
    flex: 1;
    flex-direction: column;
    height: 100px;
    margin: 10px;
    width: 160px;
    
}

.box-1-image-placeholder {
    background-color: #eee;
    display: flex;
    flex: 1;
    height: 100px;
    margin: 10px;
    width: 160px;   
}


.box-1-image-placeholder > h4 {
    align-self: center;
    text-align: center;
    width: 100%;
}

.box-2-image-placeholder {
    height: 100px;
    border: 1mm solid blue;
    width: 100px;
    border-radius: 10%;
}


button {
    margin-top: 2mm;
    background: rgb(35, 109, 236);
    border-radius: 2mm;
    color: aliceblue;
    padding: 1mm 5mm;
}

.random-information {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5mm 0mm;
}
.random-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10mm;
    margin-bottom: 20mm;
}

figure {
    display: table;
    width: 1px;
    
    
}

.box-3 {
    background: lightgrey;
    display: flex;
    justify-content: center;
    
}

.box-3-quote {
    display: flex;
    width: 460px;
    height: 100px;

}

.box-4 {
    display:flex;
    
}

.box-4-container {
    display: flex;
    width: 100%;
    padding:10mm 40mm; 
    background: rgb(35, 109, 236);
    
}

.box-4-cta, .box-4-button {
    display: flex;
    flex: 1;
    
}

.box-4-button {
    display: flex;
    justify-content: center;
}


footer {
    display: flex;
    justify-content: center;
    background: rgb(2, 2, 55);
    color: aliceblue;
    padding: 5px;
}