* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    
}
nav {
    display: flex;
    justify-content: space-between;
    background: rgb(2, 2, 55);
    color: aliceblue;
    flex-shrink: 1;
    padding: 0mm 40mm;
    
    
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: aliceblue;
}


.container {
display: flex;
margin: 0px;
box-sizing: border-box;
flex: 1;
flex-direction: column;
}

.container > * {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-shrink: 1;
         
}


.box-1 {
    background: rgb(2, 2, 55);
         
}

.box-2 , .box-4 {
    background: white ;
}

.box-2 {
    flex-direction: column;
  
}

.box-3 {
    background: lightgrey;
}
.box-1-text {
    display: flex;
    color: aliceblue;
    flex: 1;
    flex-direction: column;
    padding:15mm 40mm;
}
img {
    width: 100px;
    max-width: 100%;
    background: grey;
    height: 100px;
    border: solid blue 1mm;
    
}
.box-1-image {
    display: flex;
    flex: 1;
    position: relative;
    text-align: center;
    color: aliceblue;
    padding:15mm 40mm;
}
button {
    margin-top: 2mm;
    background: rgb(5, 161, 251);
}

.random-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10mm;
}

figure {
    display: table;
    width: 1px;
    
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2, 2, 55);
    color: aliceblue;
    padding: 5px;
}